BIND_ADDRESS="0.0.0.0"
ROUTING_ADDRESS="127.0.0.1"
LOGIN_PORT=8484
WORLD_PORT=8485
POSTGRES_HOST=db
POSTGRES_DATABASE=vms
POSTGRES_USER=vms
POSTGRES_PASSWORD=password
POSTGRES_PORT=5432
CHANNEL_COUNT=3
WORLD_COUNT=5
SCANIA=true
BERA=true
WINDIA=true
BROA=true
KHAINI=true
MARDIA=false
YELLONDE=false
BELLOCAN=false
CHANNEL_CAPACITY=700
CHANNEL_FLAG=0
VERSION=83
PIN_REQUIRED=true
GENDER_REQUIRED=true
RECOMMENDED_WORLDS=Khaini
PIC_REQUIRED=true
WZ_DIRECTORY=/app/data
RELEASE_MODE=true
CHAR_MAX=8
