IP_ADDRESS="127.0.0.1"
CORE_PORT=8484
WORLD_PORT=8485
POSTGRES_HOST=db
POSTGRES_DATABASE=vms
POSTGRES_USER=vms
POSTGRES_PASSWORD=password
POSTGRES_PORT=5432
SCANIA=true
SCANIA_CHANNEL_COUNT=3
BERA=true
BERA_CHANNEL_COUNT=3
WINDIA=true
WINDIA_CHANNEL_COUNT=3
BROA=true
BROA_CHANNEL_COUNT=0
KHAINI=true
KHAINI_CHANNEL_COUNT=3
MARDIA=false
MARDIA_CHANNEL_COUNT=0
YELLONDE=false
YELLONDE_CHANNEL_COUNT=0
BELLOCAN=false
BELLOCAN_CHANNEL_COUNT=0
CHANNEL_CAPACITY=700
WORLD_FLAG=0
EVENT_MESSAGE="Running on oxidized ferrum..."
VERSION=83
PIN_REQUIRED=true
GENDER_REQUIRED=true
RECOMMENDED_WORLDS=Khaini
PIC_REQUIRED=true

