/migrations/0000*
/.DS_Store
/migrations/.keep
/target/
/Cargo.lock
/.env
/client/build/
/client/cmake-build/
/client/libs/
/client/HeavenClient
/client/Settings
/client/v83/
/client/*.nx
/client/*.aps
/client/*.log
/client/*.tlog
/client/includes/
//data/
